[tool.poetry]
name = "minicons"
version = "0.2.14"
description = "A package of useful functions to analyze transformer based language models."
authors = ["Kanishka Misra <kmisra@purdue.edu>", "Aaron Mueller <amueller@jhu.edu>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kanishkamisra/minicons"
repository = "https://github.com/kanishkamisra/minicons"
keywords = ["transformers", "language models", "nlp", "interpretability"]

[tool.poetry.scripts]
minicons = 'minicons.bin.score_cli:process'

[tool.poetry.dependencies]
python = ">=3.7.1,<4"
transformers = "^4.4.1"
torch = "^1.8.0"
urllib3 = "^1.26.7"
pandas = "^1.3.5"

[tool.poetry.dev-dependencies]
mypy = "^0.812"
jupyter = "^1.0.0"
Sphinx = "^4.3.1"
furo = "^2021.11.23"
myst-parser = "^0.16.0"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
