[tool.poetry]
name = "minicons"
version = "0.1.8"
description = "A package of useful functions to analyze transformer based language models."
authors = ["Kanishka Misra <kmisra@purdue.edu>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kanishkamisra/minicons"
repository = "https://github.com/kanishkamisra/minicons"
keywords = ["transformers", "language models", "nlp"]

[tool.poetry.dependencies]
python = ">=3.7"
transformers = "^4.4.1"
torch = "^1.8.0"
matplotlib = "^3.4.1"

[tool.poetry.dev-dependencies]
mypy = "^0.812"
jupyter = "^1.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
