[tool.poetry]
name = "minicons"
version = "0.1.0"
description = "A package of useful functions to analyze transformer based language models."
authors = ["Kanishka Misra <kmisra@purdue.edu>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7"
transformers = "^4.4.1"
torch = "^1.8.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
